<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>设计您的玉米卷</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
  <h1>你好，<span th:text="${user?.name}">username</span></h1>
  <h1>设计您的玉米卷</h1>
  <img th:src="@{/images/TacoCloud.png}" alt="图片未加载" />
  <form method="post" th:object="${taco}">
    <div class="grid">
      <div class="ingredient-group" id="wraps">
        <h3>设计您的玉米卷 ：</h3>
        <div th:each="ingredient : ${wrap}">
          <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}" />
          <span th:text="${ingredient.name}">ingredients</span> <br />
        </div>
      </div>
      <div class="ingredient-group" id="proteins">
        <h3>选择您的蛋白质：</h3>
        <div th:each="protein : ${protein}">
          <input th:field="*{ingredients}" type="checkbox"
                  th:value="${protein.id}" />
          <span th:text="${protein.name}">name</span><br />
        </div>
      </div>
      <div class="ingredient-group" id="veggies">
        <h3>选择您的蔬菜：</h3>
        <div th:each="veggie : ${veggies}">
          <input th:field="*{ingredients}" type="checkbox"
                  th:value="${veggie.id}">
          <span th:text="${veggie.name}">name</span><br />
        </div>
      </div>
      <div class="ingredient-group" id="cheese">
        <h3>选择您的芝士：</h3>
        <div th:each="cheese : ${cheese}">
          <input th:field="*{ingredients}" type="checkbox"
                 th:value="${cheese.id}">
          <span th:text="${cheese.name}">name</span><br />
        </div>
      </div>
      <div class="ingredient-group" id="sauce">
        <h3>选择您的汁液：</h3>
        <div th:each="sauce : ${sauce}">
          <input th:field="*{ingredients}" type="checkbox"
                 th:value="${sauce.id}">
          <span th:text="${sauce.name}">name</span><br />
        </div>
      </div>
    </div>
    <div>
      <h3>命名您的玉米卷：</h3>
      <input type="text" th:field="*{name}" placeholder="请输入您的名字：" prefix="@" />
      <br />
      <button>提交</button>
    </div>
  </form>
</body>
</html>