<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
lang="zh-hans">
<head>
    <title>Taco Cloud</title>
</head>
<body>
    <h1>Welcome to...</h1>
    <p>这是一个测试</p>
    <div>
        <p><img th:src="@{/images/TacoCloud.png}" alt="图片未加载"></p>
        <h3>现在开始您的设计？</h3>
        <span><a th:href="@{design}" title="点击我查看更多">现在开始</a> | 稍后继续？
        </span>
    </div>
    <p><a href="https://www.jd.com" >
        <img th:src="@{/images/jd.webp}" alt="图片未加载" width="200px" height="200px">
    </a></p>
</body>
</html>
