<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
</head>
<body>
  <h1>登录界面</h1>
  <span>请按照以下登录：</span>
  <form method="post" th:action="@{login/complete}">
    <label for="username"></label>
    <input id="username" type="text" placeholder="请输入用户名称" autofocus="true" />
    <br />
    <label for="password"></label>
    <input id="password" type="text" placeholder="请输入用户密码"  />
    <br />
    <input type="submit" name="提交" />
  </form>
</body>
</html>